docs/query_chatflow.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: PulseScout_2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.22@e9e5725768b1d79274bf5dee2052f4d99d736f104cc98dad57392c5b70412502
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1777314537810-source-1777314773969-target
      source: '1777314537810'
      sourceHandle: source
      target: '1777314773969'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1777314773969-source-1777335880783-target
      source: '1777314773969'
      sourceHandle: source
      target: '1777335880783'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1777335880783-source-1777335946438-target
      source: '1777335880783'
      sourceHandle: source
      target: '1777335946438'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1777335946438-source-1777336017302-target
      source: '1777335946438'
      sourceHandle: source
      target: '1777336017302'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1777336017302-source-1777336118630-target
      source: '1777336017302'
      sourceHandle: source
      target: '1777336118630'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1777336118630-source-1777336249910-target
      source: '1777336118630'
      sourceHandle: source
      target: '1777336249910'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables: []
      height: 72
      id: '1777314537810'
      position:
        x: 79
        y: 282
      positionAbsolute:
        x: 79
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-308
            key: ''
            type: text
            value: "{\n  \"query\": {{#sys.query#}},\n  \"n\": 10\n}\n"
          type: json
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request
        type: http-request
        url: https://pulsescout-latest.onrender.com/search/
        variables: []
      height: 136
      id: '1777314773969'
      position:
        x: 382.8705505632961
        y: 282
      positionAbsolute:
        x: 382.8705505632961
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "def main(body: str) -> dict:\n    import json\n    data = json.loads(body)\n\
          \n    results = data.get(\"results\", [])\n    \n    return {\n        \"\
          count\":   data[\"count\"],\n        \"titles\":  [r[\"title\"] for r in\
          \ results],\n        \"sources\": [r[\"source\"] for r in results],\n  \
          \      \"context\": \"\\n\".join(\n            f\"[{r['source']}] {r['title']}:\
          \ {r['text'][:300]}\"\n            for r in results\n        ),\n    }\n"
        code_language: python3
        outputs:
          context:
            children: null
            type: string
          count:
            children: null
            type: number
          sources:
            children: null
            type: array[string]
          titles:
            children: null
            type: array[string]
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1777314773969'
          - body
          value_type: string
          variable: body
      height: 51
      id: '1777335880783'
      position:
        x: 683
        y: 282
      positionAbsolute:
        x: 683
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request 2
        type: http-request
        url: https://pulsescout-latest.onrender.com/reports/analysis?max_count=5
        variables: []
      height: 152
      id: '1777335946438'
      position:
        x: 984
        y: 282
      positionAbsolute:
        x: 984
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "def main(body: str) -> dict:\n    import json\n    data = json.loads(body)\n\
          \n    reports = data.get(\"reports\", [])[:5]\n    \n    return {\n    \
          \    \"count\":    data[\"count\"],\n        \"insights\": [r[\"actionable_insight\"\
          ] for r in reports if r.get(\"actionable_insight\")],\n        \"topics\"\
          :   list({t[\"topic\"] for r in reports for t in r.get(\"top_topics\", [])}),\n\
          \        \"trends\":   [r[\"trend_comparison\"][\"actionable_insight\"]\n\
          \                     for r in reports if r.get(\"trend_comparison\")],\n\
          \    }\n"
        code_language: python3
        outputs:
          count:
            children: null
            type: number
          insights:
            children: null
            type: array[string]
          topics:
            children: null
            type: array[string]
          trends:
            children: null
            type: array[string]
        selected: false
        title: Code 2
        type: code
        variables:
        - value_selector:
          - '1777335946438'
          - body
          value_type: string
          variable: body
      height: 51
      id: '1777336017302'
      position:
        x: 1284
        y: 282
      positionAbsolute:
        x: 1284
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: e06d1fed-e15d-4345-b4e8-d79dd7307ed7
          role: system
          text: 'You are a market intelligence analyst monitoring YouTube and HackerNews.

            Answer the user''s question using only the data provided below.

            Be concise and specific. If the data doesn''t support the question, say
            so.


            Search results for {{#sys.query#}}:

            {{#1777335880783.context#}}


            Recent trend analysis:

            Insights: {{#1777336017302.insights#}}

            Top topics: {{#1777336017302.topics#}}

            Trend observations: {{#1777336017302.trends#}}


            User: {{#sys.query#}}

            '
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1777336118630'
      position:
        x: 1585
        y: 282
      positionAbsolute:
        x: 1585
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#1777336118630.text#}}'
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 101
      id: '1777336249910'
      position:
        x: 1886
        y: 282
      positionAbsolute:
        x: 1886
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -1763.3632493015507
      y: 57.55779696348583
      zoom: 1.148698354997035
  rag_pipeline_variables: []
